:root{
  --main-bg-color:blue;
}
.max-width-1{
  max-width:80vw;
}
.max-width-2{
  max-width:60vw;
}

.margin-auto{
  margin:auto;
}
.form-input{
  width: 24vw;
  height: 5vh;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px 14px;
  margin-right: 5px;

}



.search-btn{
  width: 4vw;
  height: 5vh;
  font-size: 0.7vw;
  font-weight: bold;
  margin-right: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  /* background: #f1f1f1; */
}
.search-btn:hover{
  /* color:white; */
  background-color: rgb(224, 58, 58);
  cursor:pointer;
  transition: 0.2s ease-in-out;
}
.submit-btn{
  margin-top: 15px;
  padding: 6px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: #f1f1f1;
}
.submit-btn:hover{
  color:white;
  background-color: rgb(224, 58, 58);
  cursor:pointer;
  transition: 0.2s ease-in-out;
}


/* .form-box input , textarea{
  color: black;
  width: 40vw;
  padding: 12px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  border:none;
  margin-top:25px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(227, 144, 144);
} */



